body {
    margin: 0;
    padding: 0;
    background-color: rgb(114, 114, 114);
}

#viewport {
    width: 90vw;
    height: 94vh;
    border: 2px solid black;
    border-radius: 30px;
    overflow: hidden;
    margin: 3vh auto 3vh auto;
}

header {
    min-height: 6%;
    height: 6%;
    background-color: black;
    align-items: center;
    justify-content: center;
}

#header-wrapper {
    height: 100%;
    width: 100%;
}

#header-wrapper>img {
    max-width: 60%;
    max-height: 60%;
    margin: 0 3% 0 0;
}

main {
    min-height: 64%;
    height: 64%;
}

#main-wrapper {
    padding: 5% 4% 5% 4%;
    height: 100%;
    flex-direction: column;
}

#pokemon-title>img {
    max-width: 80%;
    max-height: 80%;
    margin: 0 3% 0 0;
}

#main-pokemon {
    height: 45%;
}

#pokemon-title {
    height: 10%;
    border-radius: 30px;
    max-width: 320px;
    display: flex;
}

#pokemon-image-container {
    width: 100%;
    height: 90%;
}

#current-pokemon-image {
    height: 125%;
    width: 100%;
    z-index: 100;
}

#stats-board {
    height: 45%;
    max-height: 60%;
    border-radius: 10%;
    margin: 0 0 5% 0;
    flex-direction: row;
}

.stat-info {
    width: 100%;
    max-height: 5%;
    margin: 0 10% 0 10%;
}

footer {
    min-height: 30%;
    height: 30%;
    width: 100%;
}

#footer-wrapper {
    width: 100%;
    height: 100%;
    padding: 3% 0 3% 0;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cell:nth-child(1) {
    width: 100%;
    max-height: 15%;
}

.cell:not(:first-child) {
    flex: 1;
}

@media screen and (min-width: 500px) {
    #buttons-container {
        width: 75%;
    }
    #main-wrapper {
        padding: 4%;
    }
}

@media screen and (min-width: 830px) {
    .cell:nth-child(1) {
        flex: 1;
        width: 144px;
    }
    #buttons-container {
        width: 75%;
    }
    #main-wrapper {
        padding: 3%;
        flex-direction: row;
    }
    #current-pokemon-image {
        height: 90%;
    }
    #main-pokemon {
        min-height: 100%;
    }
    #stats-board {
        min-height: 90%;
        max-width: 40%;
        flex-wrap: wrap;
        margin-left: 10%;
    }
    .stat-info {
        flex: 1;
        flex-direction: column;
    }
}

@media screen and (min-width: 1021px) {
    .cell:nth-child(1) {
        flex: 1;
        width: 256px;
    }
    #main-wrapper {
        padding: 2%;
    }
    #buttons-container {
        width: 60%;
    }
    #stats-board {
        min-height: 90%;
        max-width: 40%;
        flex-wrap: wrap;
    }
    .stat-info {
        width: 20%;
        min-width: 20%;
    }
}

button {
    min-width: 92px;
    max-width: 256px;
    min-height: 92px;
    max-height: 256px;
    height: 100%;
    background-color: rgb(85, 85, 89);
    border-radius: 10%;
}

button:hover {
    background-color: rgb(239, 28, 31);
    cursor: pointer;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.bg-charizard {
    background-image: url("./images/charizard.png");
    background-size: cover;
}

.bg-bisharp {
    background-image: url("./images/bisharp.png");
    background-size: cover;
}

.bg-flygon {
    background-image: url("./images/flygon.png");
    background-size: cover;
}

.bg-gallade {
    background-image: url("./images/gallade.png");
    background-size: cover;
}

.bg-butterfree {
    background-image: url("./images/butterfree.png");
    background-size: cover;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: rgb(196, 195, 195);
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

h2,
h3,
p,
strong {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: rgb(85, 85, 89);
}

.flex {
    display: flex;
}

.vertical-center {
    align-items: center;
}

.horizontal-center {
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.inline {
    display: inline-flex;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.h-75 {
    height: 75%;
}

.mx-auto {
    margin: 0 auto 0 auto;
}